{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!--page header section start-->
    <section class="page-header position-relative overflow-hidden ptb-120 bg-dark"
             style="background: url('{% static "assets/img/page-header-bg.svg" %}')no-repeat bottom right">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h1 class="display-5 fw-bold">استایل بلاگ</h1>
                    <p class="lead">به طور یکپارچه کاربران مبتنی بر مشتری را پس از مقدار خارج از جعبه به تصویب می
                        رسانند.در سراسر جهان اطلاعات استراتژیک را از طریق تخصص اصطکاک درک می کنند.</p>
                </div>
            </div>
            <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
        </div>
    </section>
    <!--page header section end-->


    <!--blog section start-->
    <section class="masonary-blog-section ptb-120">
        <div class="container">
            <div class="row">
                {% for product in products %}
                    <div class="col-lg-6 col-md-12">
                        <div class="single-article feature-article rounded-custom my-3">
                            <a href="{% url  'single product' product.id %}" class="article-img">
                                <img src="{{ product.icon.url }}" alt="article" class="img-fluid">
                            </a>
                            <div class="article-content p-4">
                                <div class="article-category mb-4 d-block">
                                    {% for category in product.category.all %}
                                        <a href="javascript:;" class="d-inline-block text-dark badge bg-primary-soft">{{ category }}</a>
                                    {% endfor %}
                                </div>
                                <a href="{% url  'single product' product.id %}">
                                    <h2 class="h5 article-title limit-2-line-text">{{ product.name }}</h2>
                                </a>
                                <p class="limit-2-line-text">{{ product.description }}</p>

                                <a href="javascript:;">
                                    <div class="d-flex align-items-center pt-4">
                                        <div class="avatar">
                                            <img src="{{ product.provider.manager_img.url }}" alt="avatar" width="40"
                                                 class="img-fluid rounded-circle me-3">
                                        </div>
                                        <div class="avatar-info">
                                            <h6 class="mb-0 avatar-name">{{ product.provider.manager_name }}</h6>
                                            <span class="small fw-medium text-muted">24 مهر، 1400</span>
                                        </div>
                                    </div>
                                </a>

                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>

            <!--pagination start-->
            <div class="row justify-content-center align-items-center mt-5">
                <div class="col-auto my-1">
                    <a href="#" class="btn btn-soft-primary btn-sm">قبلی</a>
                </div>
                <div class="col-auto my-1">
                    <nav>
                        <ul class="pagination rounded mb-0">
                            <li class="page-item  active"><a class="page-link" href="#">1</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">2</a>
                            </li>
                            <li class="page-item"><a class="page-link" href="#">3</a>
                            </li>
                        </ul>
                    </nav>
                </div>
                <div class="col-auto my-1">
                    <a href="#" class="btn btn-soft-primary btn-sm">بعدی</a>
                </div>
            </div>
            <!--pagination end-->
        </div>
    </section>
    <!--blog section end-->


{% endblock content %}