{% extends 'base.html' %} {% load static %} {% block content %}

    <body>

    <!--hero section start-->
    <section
            class="hero-section ptb-120 min-vh-100 d-flex align-items-center bg-dark text-white position-relative overflow-hidden"
            style="background: url('{% static " assets/img/page-header-bg.svg " %}')no-repeat bottom right">
        <div class="container">
            <div class="row justify-content-between align-items-center">
                <div class="col-lg-6">
                    <div class="hero-content-wrap">
                        <h5 class="text-warning">اولین سایت خرید و فروش داده در ایران</h5>
                        <h1 class="fw-bold display-5">دیتا مارکت پلیس</h1>
                        <p class="lead">همه آنچه برای کسب و کار خود نیاز دارید را پیدا کنید، مقایسه کنید، بررسی کنید و
                            درتصمیم سازی‌های کلان سازمان خود استفاده کنید</p>
                        <div class="action-btns mt-5">
                            <a href="about-us.html" class="btn btn-outline-light">بیشتر بدانید</a>
                        </div>
                    </div>
                    <!-- <div class="row justify-content-lg-start mt-60">
                        <h6 class="text-white-70 mb-2">مشتریان برتر ما</h6>
                        <div class="col-4 col-sm-3 my-2 ps-lg-0">
                            <img src="{% static 'assets/img/clients/client-1.svg' %}" alt="client" class="img-fluid">
                        </div>
                        <div class="col-4 col-sm-3 my-2">
                            <img src="{% static 'assets/img/clients/client-2.svg' %}" alt="client" class="img-fluid">
                        </div>
                        <div class="col-4 col-sm-3 my-2">
                            <img src="{% static 'assets/img/clients/client-3.svg' %}" alt="client" class="img-fluid">
                        </div>
                    </div> -->
                </div>
                <div class="col-lg-6 col-md-8 mt-5 mt-lg-0">
                    <div class="animated-img-wrap">
                        <!--animated shape start-->
                        <ul class="animate-element parallax-element animated-hero-1">
                            <li class="layer" data-depth="0.02">
                                <img src="{% static 'assets/img/screen/animated-screen-2.svg' %}" alt="shape"
                                     class="img-fluid position-absolute type-0">
                            </li>
                        </ul>
                        <!--animated shape end-->
                        <img src="{% static 'assets/img/screen/animated-screen-1.svg' %}" alt="shape"
                             class="position-relative img-fluid">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--hero section end-->

    <!--promo section start-->
    <section class="promo-section ptb-120">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-6 col-md-10">
                    <div class="section-heading text-center">
                        <h2>همیشه به بروزترین داده‌ها دسترسی داشته باشید</h2>
                        <p>داده‌های بزرگترین کسب و کارها و سازمان‌ها را دریافت کنیدو با ابزارهای تحلیلگر آنها را تحلیل
                            کنید.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6">
                    <div class="promo-single position-relative text-center bg-white custom-shadow rounded-custom p-5 mb-4">
                        <div class="promo-icon mb-32 ">
                            <img class="fa-icon" src="{% static 'assets/img/search.svg' %}"></img>
                        </div>
                        <div class="promo-info">
                            <h3 class="h5">حذف جستجوی طولانی</h3>
                            <p class="mb-0">داده‌های مورد نیاز خود را از بین صدها ارائه دهنده انتخاب کنید</p>
                        </div>
                        <!--pattern start-->
                        <div class="dot-shape-bg position-absolute z--1 right--0 top--40">
                            <img src="{% static 'assets/img/shape/dot-big-square.svg' %}" alt="shape">
                        </div>
                        <!--pattern end-->
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="promo-single position-relative text-center bg-white custom-shadow rounded-custom p-5 mb-4">
                        <div class="promo-icon mb-32">
                            <img class="fa-icon" src="{% static 'assets/img/bidash.svg' %}"></img>
                        </div>
                        <div class="promo-info">
                            <h3 class="h5">مدلسازی و تحلیل</h3>
                            <p class="mb-0">با امکانات تحلیلگر سامانه مدلسازی کنید و داشبورد BI اختصاصی خود را توسعه
                                دهید</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6">
                    <div class="promo-single position-relative text-center bg-white custom-shadow rounded-custom p-5 mb-4">
                        <div class="promo-icon mb-32">
                            <img class="fa-icon" src="{% static 'assets/img/decision.svg' %}"></img>
                        </div>
                        <div class="promo-info">
                            <h3 class="h5">تصمیم سازی کنید</h3>
                            <p class="mb-0">با استفاده از تنوع بینظیر داده‌ها تصمیم‌های خود را بهینه کنید و از چند جهت
                                پاسخ مشکلات خود را پیدا کنید</p>
                        </div>
                        <!--pattern start-->
                        <div class="dot-shape-bg position-absolute z--1 left--40 bottom--40">
                            <img src="{% static 'assets/img/shape/dot-big-square.svg' %}" alt="shape">
                        </div>
                        <!--pattern end-->
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--promo section end-->

    <!--feature tab section start-->
    <section class="feature-tab-section ptb-120 bg-light">
        <div class="container">
            <div class="row justify-content-center align-content-center">
                <div class="col-md-10 col-lg-6">
                    <div class="section-heading text-center">
                        <h4 class="h5 text-primary">ویژگی‌ها</h4>
                        <h2>ویژگی های پیشرفته</h2>
                        <p>با امکانات موجود در سامانه می‌توانید مدلسازی کنید، تحلیل‌های آماری انجام دهید و همچنین
                            پرتال‌های بزرگ BI بسازید</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <ul class="nav justify-content-center feature-tab-list-2 mb-0" id="nav-tab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link active" href="#tab-1" data-bs-toggle="tab" data-bs-target="#tab-1"
                               role="tab" aria-selected="false">
                                دیتا مارکت پلیس
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-2" data-bs-toggle="tab" data-bs-target="#tab-2" role="tab"
                               aria-selected="false">
                                هوش مصنوعی
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#tab-3" data-bs-toggle="tab" data-bs-target="#tab-3" role="tab"
                               aria-selected="false">
                                داشبورد پیشرفته
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content" id="nav-tabContent">
                        <div class="tab-pane fade pt-60 active show" id="tab-1" role="tabpanel">
                            <div class="row justify-content-center align-items-center justify-content-around">
                                <div class="col-lg-5">
                                    <div class="feature-tab-info">
                                        <h3>دیتا مارکت پلیس</h3>
                                        <p>جستجو، مقایسه و خرید</p>
                                        <p>می‌توانید داده‌های ارائه کننده‌های معتبر را بررسی کنید و در پنل کاربری خود
                                            وارد کنید و تحلیل کنید و یا با API امن آن‌ها را به سامانه خود وارد کنید</p>

                                        <p></p>
                                        <a href="about-us.html"
                                           class="read-more-link text-decoration-none mt-4 d-block">بیشتر درباره ما
                                            بدانید
                                            <i class="far fa-arrow-left ms-2"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <img src="{% static 'assets/img/screen/widget-12.png' %}" alt="feature tab"
                                         class="img-fluid mt-4 mt-lg-0 mt-xl-0">
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade pt-60" id="tab-2" role="tabpanel">
                            <div class="row justify-content-center align-items-center justify-content-around">
                                <div class="col-lg-5">
                                    <img src="{% static 'assets/img/screen/widget-8.png' %}" alt="feature tab"
                                         class="img-fluid mb-4 mb-lg-0 mb-xl-0">
                                </div>
                                <div class="col-lg-5">
                                    <div class="feature-tab-info">
                                        <h3>هوش مصنوعی</h3>
                                        <p>مدلسازی در تحلیل داده مهمترین بخش از درک اطلاعات است با استفاده از ابزارهای
                                            موجود می‌توانید مدل‌های پیشرفته بسازید</p>
                                        <a href="about-us.html"
                                           class="read-more-link text-decoration-none mt-4 d-block">بیشتر درباره ما
                                            بدانید
                                            <i class="far fa-arrow-left ms-2"></i></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade pt-60" id="tab-3" role="tabpanel">
                            <div class="row justify-content-center align-items-center justify-content-around">
                                <div class="col-lg-5">
                                    <div class="feature-tab-info">
                                        <h3> داشبورد پیشرفته </h3>
                                        <p> با استفاده از امکانات پنل کاربری خود داشبورد پیشرفته اختصاصی خود را ایجاد
                                            کنید</p>

                                        <a href="about-us.html"
                                           class="read-more-link text-decoration-none mt-4 d-block">بیشتر درباره ما
                                            بدانید
                                            <i class="far fa-arrow-left ms-2"></i></a>
                                    </div>
                                </div>
                                <div class="col-lg-5">
                                    <img src="{% static 'assets/img/screen/widget-11.png' %}" alt="feature tab"
                                         class="img-fluid mt-4 mt-lg-0 mt-xl-0">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--feature tab section end-->

    <!--integration section start-->
    <section class="integration-section ptb-120">
        <div class="container">
            <div class="row align-items-center justify-content-lg-between">
                <div class="col-lg-12 col-md-12">
                    <div class="section-heading">
                        <h2> مشتریان ما</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <div class="integration-wrapper position-relative w-100">
                        <!--animated shape start-->
                        <ul class="position-absolute animate-element parallax-element shape-service z--1">
                            <li class="layer" data-depth="0.03">
                                <img src="{% static 'assets/img/shape/dot-dot-wave-shape.svg' %}" alt="shape"
                                     class="img-fluid position-absolute color-shape-3">
                            </li>
                            <li class="layer" data-depth="0.03">
                                <img src="{% static 'assets/img/color-shape/feature-3.svg' %}" alt="shape"
                                     class="img-fluid position-absolute color-shape-3">
                            </li>
                        </ul>
                        <!--animated shape end-->
                        <ul class="integration-list list-unstyled mb-0">
                            <li>
                                <div class="single-integration">
                                    <img src="{% static 'assets/img/companies/Digikala.png' %}" alt="integration"
                                         class="img-fluid fa-customer">
                                    <h6 class="mb-0 mt-4">دیجی کالا</h6>
                                </div>
                            </li>
                            <li>
                                <div class="single-integration">
                                    <img src="{% static 'assets/img/companies/divar.png' %}" alt="integration"
                                         class="img-fluid">
                                    <h6 class="mb-0 mt-4">دیوار</h6>
                                </div>
                            </li>
                            <li>
                                <div class="single-integration">
                                    <img src="{% static 'assets/img/companies/filimo.png' %}" alt="integration"
                                         class="img-fluid">
                                    <h6 class="mb-0 mt-4">فیلیمو</h6>
                                </div>
                            </li>
                            <li>
                                <div class="single-integration">
                                    <img src="{% static 'assets/img/companies/irancell.png' %}" alt="integration"
                                         class="img-fluid">
                                    <h6 class="mb-0 mt-4">ایرانسل</h6>
                                </div>
                            </li>
                            <li>
                                <div class="single-integration">
                                    <img src="{% static 'assets/img/companies/neshan.png' %}" alt="integration"
                                         class="img-fluid">
                                    <h6 class="mb-0 mt-4">نشان</h6>
                                </div>
                            </li>
                            <li>
                                <div class="single-integration">
                                    <img src="{% static 'assets/img/companies/shanbe.png' %}" alt="integration"
                                         class="img-fluid">
                                    <h6 class="mb-0 mt-4">شنبه</h6>
                                </div>
                            </li>
                            <li>
                                <div class="single-integration">
                                    <img src="{% static 'assets/img/companies/snapp.png' %}" alt="integration"
                                         class="img-fluid">
                                    <h6 class="mb-0 mt-4">اسنپ</h6>
                                </div>
                            </li>
                            <li>
                                <div class="single-integration">
                                    <img src="{% static 'assets/img/companies/takhfifan.png' %}" alt="integration"
                                         class="img-fluid">
                                    <h6 class="mb-0 mt-4">تخفیفان</h6>
                                </div>
                            </li>
                            <li>
                                <div class="single-integration">
                                    <img src="{% static 'assets/img/companies/tapsi.png' %}" alt="integration"
                                         class="img-fluid">
                                    <h6 class="mb-0 mt-4">تپ سی</h6>
                                </div>
                            </li>
                            <li>
                                <div class="single-integration">
                                    <img src="{% static 'assets/img/companies/techrasa.png' %}" alt="integration"
                                         class="img-fluid">
                                    <h6 class="mb-0 mt-4">تکراسا</h6>
                                </div>
                            </li>

                            <li>
                                <div class="single-integration">
                                    <img src="{% static 'assets/img/companies/zarinpal.png' %}" alt="integration"
                                         class="img-fluid">
                                    <h6 class="mb-0 mt-4">زرین پال</h6>
                                </div>
                            </li>

                            <li>
                                <div class="single-integration">
                                    <img src="{% static 'assets/img/companies/snappfood.png' %}" alt="integration"
                                         class="img-fluid">
                                    <h6 class="mb-0 mt-4">اسنپ فود</h6>
                                </div>
                            </li>

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--integration section end-->


    </body>

{% endblock %}