{% extends 'base.html' %}
{% load static %}
{% block content %}

    <!--page header section start-->
    <section class="page-header position-relative overflow-hidden ptb-120 bg-dark"
             style="background: url('{% static "assets/img/page-header-bg.svg" %}')no-repeat bottom right">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-12">
                    <h1 class="display-5 fw-bold">آشنایی با تیم ما</h1>
                    <p class="lead">به طور یکپارچه کاربران مبتنی بر مشتری را پس از مقدار خارج از جعبه به تصویب می
                        رسانند.در سراسر جهان اطلاعات استراتژیک را از طریق تخصص اصطکاک درک می کنند.</p>
                </div>
            </div>
            <div class="bg-circle rounded-circle circle-shape-3 position-absolute bg-dark-light left-5"></div>
        </div>
    </section>
    <!--page header section end-->

    <!--team section start-->
    <section class="team-section ptb-120 bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-md-12">
                    <div class="section-heading text-center">
                        <h5 class="h6 text-primary">تیم ما</h5>
                        <h2>ما در کیوتی</h2>
                        <p>به طور ذاتی از ویژگی های پیشرفته پیشرفته قبل از برنامه های متقابل استراتژیک تخصص گسترده را از
                            طریق سرمایه فکری یکپارچه انکوب می کند.</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-3 col-md-6">
                    <div class="team-single-wrap mt-5">
                        <div class="team-img">
                            <img src="{% static 'assets/img/team/team-1.jpg' %}" alt="team"
                                 class="img-fluid rounded-custom">
                            <ul class="list-unstyled team-social-list team-social-style-2 list-inline mb-0">
                                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-info mt-4">
                            <h5 class="h6 mb-1">جان سالیوان</h5>
                            <p class="text-muted small">فرانت‌اند دولوپر</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-single-wrap mt-5">
                        <div class="team-img rounded-custom">
                            <img src="{% static 'assets/img/team/team-2.jpg' %}" alt="team" class="img-fluid">
                            <ul class="list-unstyled team-social-list team-social-style-2 list-inline mb-0">
                                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-info mt-4">
                            <h5 class="h6 mb-1">کتی هدسون</h5>
                            <p class="text-muted small">خدمات مشتری </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-single-wrap mt-5">
                        <div class="team-img rounded-custom">
                            <img src="{% static 'assets/img/team/team-3.jpg' %}" alt="team" class="img-fluid">
                            <ul class="list-unstyled team-social-list team-social-style-2 list-inline mb-0">
                                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-info mt-4">
                            <h5 class="h6 mb-1">جیس ایتو</h5>
                            <p class="text-muted small">مدیر تبلیغات</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6">
                    <div class="team-single-wrap mt-5">
                        <div class="team-img rounded-custom">
                            <img src="{% static 'assets/img/team/team-4.jpg' %}" alt="team" class="img-fluid">
                            <ul class="list-unstyled team-social-list team-social-style-2 list-inline mb-0">
                                <li class="list-inline-item"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-twitter"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-github"></i></a></li>
                                <li class="list-inline-item"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            </ul>
                        </div>
                        <div class="team-info mt-4">
                            <h5 class="h6 mb-1">مارتین گری</h5>
                            <p class="text-muted small">بک اند دولوپر</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--team section end-->

{% endblock content %}
